<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout::head"></head>
<body>
<div th:insert="/layout/layout::nav"></div>
<div class="row">
    <div class="col-2 bg-info text-center">
        <nav class="nav flex-column ">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
    </div>
    <div class="col-10 text-center p-5">
        <h2>Employee Home</h2>
        <form class="form-inline float-right mb-3">
            <p class="mb-0 float-left ">
                <a href="/employees/create-employee">
                    <button type="button" class="btn btn-warning m-2">Create Employee</button>
                </a>
            </p>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div th:if="${employees.getNumberOfElements()==0}">
            <div class="alert alert-danger" role="alert">
                No employees find any customers
            </div>
            <a href="/employees">
                <button type="button" class="btn btn-warning text-center ">Employees list</button>
            </a>
        </div>
        <div th:if="${employees.getNumberOfElements()!=0}">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id Cart</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Number Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Position</th>
                    <th scope="col">Division</th>
                    <th scope="col">Education Degree</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"  th:text="Edit"></th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="Delete"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="employee,status : ${employees}">
                    <tr>
                        <td th:text="${status.count}"></td>
                        <td th:text="${employee.employeeName}"></td>
                        <td><a th:href="@{/employees/view-employee/__${employee.employeeId}__ }"
                               th:text="${employee.employeeName}"></a></td>
                        <td th:text="${employee.employeeEmail}"></td>
                        <td th:text="${employee.employeeIdCard}"></td>
                        <td th:text="${employee.employeeSalary}"></td>
                        <td th:text="${employee.employeePhone}"></td>
                        <td th:text="${employee.employeeAddress}"></td>
                        <td th:text="${employee.position.positonName}"></td>
                        <td th:text="${employee.divisions.divisionname}"></td>
                        <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/employees/edit-employee/__${employee.employeeId}__ }">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal" th:onclick="|deleteEmployee(${employee.employeeId})|">
                                Delete
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div>
<!--                <div th:if="${search == null}">-->
<!--                    <a th:href="@{/employees(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}">Previous</a>-->
<!--                    <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>-->
<!--                    <a th:href="@{/employees(page=${employees.number + 1})}" th:if="${employees.hasNext()}">Next</a>-->
<!--                </div>-->
<!--                <div th:if="${search != null}">-->
<!--                    <a th:href="@{/employees(search=${search},page=${employees.number - 1})}"-->
<!--                       th:if="${employees.hasPrevious()}">Previous</a>-->
<!--                    <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>-->
<!--                    <a th:href="@{/employees(search=${search},page=${employees.number + 1})}"-->
<!--                       th:if="${employees.hasNext()}">Next</a>-->
<!--                </div>-->
                <div class="float-right">
                    <ul class="pagination" th:if="${search == null}">
                        <li class="page-item"><a class="page-link" th:href="@{/employees(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}" th:text="Previous"></a></li>
                        <li class="page-item"><span class="page-link" th:text="${employees.number + 1}"></span></li>
                        <li class="page-item"><span class="page-link" >of</span></li>
                        <li class="page-item"><span class="page-link" th:text="${employees.totalPages}"></span></li>
                        <li class="page-item"><a class="page-link" th:href="@{/employees(page=${employees.number + 1})}" th:if="${employees.hasNext()}" th:text="Next"></a></li>
                    </ul>
                    <ul class="pagination" th:if="${search != null}">
                        <li class="page-item"><a class="page-link" th:href="@{/customers(search=${search},page=${employees.number - 1})}" th:if="${employees.hasPrevious()}" th:text="Previous"></a></li>
                        <li class="page-item"><span class="page-link" th:text="${employees.number + 1}"></span></li>
                        <li class="page-item"><span class="page-link" >of</span></li>
                        <li class="page-item"><span class="page-link" th:text="${employees.totalPages}"></span></li>
                        <li class="page-item"><a class="page-link" th:href="@{/employees(search=${search},page=${employees.number + 1})}" th:if="${employees.hasNext()}" th:text="Next"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/employees/delete-employee">
    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Employee </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="id" name="id">
                <div class="modal-body">
                    <p>Do you really want to delete.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Modal-->
<script>
    function deleteEmployee(id) {
        document.getElementById('id').value = id;
    }
</script>
<div th:replace="/layout/layout::footer"></div>
<div th:replace="/layout/layout::script"></div>

</body>

</html>