<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
    </head>
    <body>
        <div th:fragment="header">
            <!-- Image and text -->
            <nav class="navbar navbar-light bg-info">
                <a class="navbar-brand" href="#">
                    <img src="/image/logo-furama.png" width="60" height="60" class="d-inline-block align-top" alt="">
                </a>
                <div class="d-inline float-right">
                    <span class="alert-link alert alert-warning" th:if="${#request.userPrincipal !=null}" th:utext="${#request.userPrincipal.name}" ></span>

                    <span th:if="${#request.userPrincipal !=null}" ><a href="/logout">Logout</a></span>
                </div>
                <span th:if="${#request.userPrincipal ==null}" class="float-right alert-link alert alert-warning"><a href="/login">Login</a></span>
            </nav>
        </div>
        <div th:fragment="nav" >
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
                <div class="col-5 m-auto ">
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <a class="navbar-brand text-warning" href="/">Home</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="/customers">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="/employees">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="/services/create-service">Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="/contracts/create-contract">Contract</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="/contract-details/create-contract-detail">Contract Detail</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>

        <div th:fragment="footer">
                <p class="text-center p-4" style="height: 100px;background-color: #e3f2fd;">furamaResort.com</p>
        </div>

        <div th:fragment="script">
            <script src="/jquery/jquery-3.5.1.min.js"></script>
            <script src="/jquery/popper.min.js"></script>
            <script src="/bootstrap4/js/bootstrap.js"></script>
        </div>
    </body>

</html>