<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
    </head>
    <body>
        <div th:fragment="header">
            <!-- Image and text -->
            <nav class="navbar navbar-light bg-info">
                <a class="navbar-brand" href="#">
                    <img src="/image/logo-furama.png" width="60" height="60" class="d-inline-block align-top" alt="">
                </a>
            </nav>
        </div>
        <div th:fragment="nav">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/customers">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees">Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services/create-service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contracts/create-contract">Contract</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contract-details/create-contract-detail">Contract Detail</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div th:fragment="footer">
                <p class="text-center p-4" style="height: 100px;background-color: #e3f2fd;">furamaResort.com</p>
        </div>

        <div th:fragment="script">
            <script src="/jquery/jquery-3.5.1.min.js"></script>
            <script src="/jquery/popper.min.js"></script>
            <script src="/bootstrap4/js/bootstrap.js"></script>
        </div>
    </body>

</html>